@charset "UTF-8";


/* cores usadas, em ordem de tom forte > fraco*/
/* #5450ca \\#565AA6 \\ #8F92BF \\ #BABCD9 \\ #F0F0F2

*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#BABCD9;
}
header{
    background-color: #5450ca;
    color: #f2f0f0;
    height: 50px;
}




header h1{
    padding: 5px;
    text-align: center;
}

menu{
    background-color:#8F92BF;
  
}

menu ul{
    list-style-type: none;
}

menu li{
    display: inline-block;
    background-color:#565AA6;
    color: aliceblue;
    padding: 10px 5px;
    border-radius: 5px;
}

menu a{
    color: aliceblue;
    text-decoration: none;
}

menu li:hover{
    background-color:#8F92BF;
}

article{
    background-color:#f0f0f2c7;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-indent: 20px;
    text-align: justify;  

}

article h1{
    margin: 5px;
}

@media screen and (max-width: 798px) {
    article{
        margin-left: 5px;
        margin-right: 5px;
    }
    menu{
        display: none;
    }

    menu li {
        display: block;
        text-align: center;
        border-radius: 0px;
        border: 1px solid #BABCD9;

    }


    #burguer{
        display: block;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        
    }
    #burguer:hover{
        background-color: white;
        color: black;
    }
}