@charset "UTF-8";

/*configurações gerais*/


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    text-shadow: 1px 1px 3px rgb(138, 139, 49);
    padding: 10px;
}