@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
   
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #E3D3C4, #E8AA9B);
}

main{
    background-color: white ;
    width: 600px;  /*largura*/
    padding: 10px; /*acochoamento*/
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #67151a91 ;
}

h1{
    color: #161A1E;
    text-align: center;
    text-shadow: 1px 1px 2px #3244559a ;
}

h2{
    color:#67151B ;
}